In [1]:
import requests
from selenium import webdriver

browser = webdriver.Chrome()

browser.get("https://www.naukri.com/")
from bs4 import BeautifulSoup

In [2]:
search_job = browser.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data scientist")

In [3]:
search_loc = browser.find_element_by_id ("qsb-location-sugg")
search_loc.send_keys("Dehli/NCR")

In [4]:
search_btn = browser.find_element_by_class_name ("btn")
search_btn.click()

In [5]:
url="https://www.naukri.com/data-scientist-jobs-in-dehli-ncr?k=data%20scientist&l=dehli%2Fncr&cityTypeGid=9508&ctcFilter=3to6"

In [6]:
#lets open the webpage through our webdriver
browser.get(url)

In [7]:
job_titles=[]
company_names=[]
location_list=[]
experience_required=[]

In [8]:
title_tags = browser.find_elements_by_xpath ("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="5deb7575-eb23-4868-bd3b-3ce1ce306a9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="a47de1c5-ce87-4863-9243-8203a8a938eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="e4eec4fe-641c-46fe-aa25-473f1d200357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="91a1309e-dd1c-49da-bf1e-35e86d83da7c")>]

In [11]:
job_titles=[]
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [12]:
job_titles[0:4]

['Developer - Data Science',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Data Scientist',
 'Data Scientist - Python & Machine Learning']

In [14]:
company_tags = browser.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="87c16d29-1e72-4bbb-bb7a-f499543a5837")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="2933c291-dbc6-4a4b-bde0-0df68f1eddef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="44204202-44d2-45b6-a4f7-03ec98ac742f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="03ef95f5-e036-476d-80a5-93f0e8c68600")>]

In [15]:
company_name=[]
for i in company_tags:
    company=i.text
    company_name.append(company)

In [16]:
company_name[0:4]

['ICL Systems India Private Limited',
 'Change leaders',
 'Amity University',
 'FUTURES AND CAREERS']

In [17]:
experience_tags = browser.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="fbda2527-927a-43d8-ba31-7a7feb453383")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="2b2a1a9c-cc89-4801-963d-7b0e11b2877b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="61044738-f47e-4d80-af64-eae0c52426e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="030921c5-a684-48c2-a62a-9368be5f8fef")>]

In [18]:
experience_years=[]
for i in experience_tags:
    experience=i.text
    experience_years.append(experience)

In [20]:
experience_years[0:4]

['3-5 Yrs', '5-10 Yrs', '6-8 Yrs', '2-7 Yrs']

In [21]:
location_tags = browser.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="fb2ac9f4-4aaf-4716-88a6-b12a6f353a74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="9983f654-9fa9-4934-ac61-0c165d8f3d41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="2bdddf9a-577c-4015-bfe0-bbc356017770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16960404db757bb952c67415e8c5cd47", element="185e7de9-9107-45cd-8dde-4e3d5190146b")>]

In [22]:
locations=[]
for i in location_tags:
    location=i.text
    locations.append(location)

In [24]:
locations[0:4]

['Delhi / NCR',
 'Mumbai, Ghaziabad',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [25]:
print(len(job_titles), len(company_name), len(locations), len(experience_years))

21 21 21 21

In [26]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_name
jobs['location']=locations
jobs['experience_required']=experience_years

In [27]:
jobs

,title,company,location,experience_required
0,Developer - Data Science,ICL Systems India Private Limited,Delhi / NCR,3-5 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",6-8 Yrs
3,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
5,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs
6,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
7,Hiring For Data Scientist,Max Bupa Health Insurance Company Limited,"Gurgaon/Gurugram, Delhi / NCR",1-6 Yrs
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs
9,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
10,Data Scientist - Python & Machine Learning (IS...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
11,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,Noida,6-11 Yrs
12,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,Noida,6-11 Yrs
13,Data Scientist,NatWest Group,Gurgaon/Gurugram,4-8 Yrs
14,Data Scientist | Python | Machine Learning | D...,Careerera,Noida(Sector-59 Noida),3-8 Yrs
15,Data Scientist,NatWest Group,Delhi / NCR,4-8 Yrs
16,Data Scientist,NatWest Group,Delhi / NCR,4-8 Yrs
17,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs
18,Analyst - Data Science / Data Scientist | Clie...,RUBOID TECHNOVISION PRIVATE LIMITED,Gurgaon/Gurugram,3-5 Yrs
19,Data Scientist,BlackBuck,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
20,Data Scientist,Mahajan Imaging,New Delhi,2-6 Yrs